<div>
  <h2>{{ isEditing ? 'Editar Producto' : 'Crear Producto' }}</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Nombre:</label>
      <input id="name" type="text" formControlName="name">
    </div>
    <div>
      <label for="description">Descripción:</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>
    <div>
      <label for="price">Precio:</label>
      <input id="price" type="number" formControlName="price">
    </div>
    <button type="submit" [disabled]="!productForm.valid">Guardar</button>
  </form>
</div>
